    html {
            scroll-behavior: smooth;
    }
    body {
            margin: 0;
            background-color: #E0DCD9;
    }

    footer {
            padding: 50px;
            margin-bottom: 0;
    }

    footer div {
            align-items: center;
            text-align: center;
    }

    footer div ul {
            list-style: none;
            margin-bottom: 20px;
    }

    footer div ul li {
            padding: 10px;
    }

    footer div ul li a{
            font-size: 12px;
            text-decoration: none;
    
}

    .back-to-top {
            position: fixed;
            z-index: 99;
            transition: 0.5s ease-in;
    }

    #myBtn {
            transition: 0.4s ease-in;
            display: none;
            font-size: 18px;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 10px;
            background-color: #ffc130;
            padding: 10px 15px;

    }

    button i {
            color: #0b1b32;
    }

/* Screen Size: from 950px and up */

@media (min-width: 950px){


    .locationInfo p.copy {
            max-width: 200px;
            margin-left: auto;
    }

    .locationInfo h1 {
            padding-left: 170px;
    }


}

/* Screen Size: from 768px and up */

@media (min-width: 768px){

/* Layout*/

    .header {
            z-index: 1;
            background-repeat: no-repeat;
            background-size: 100%;
            min-height: 1000px;
    } 
    header {
            background-color: #141414;
            height: 111px;
    }

    div.text {
            width: 400px!important;
            margin: 150px auto;
}

    .back-to-top {
            right: 30px;
    }

/* Homepage */

    .homepage .container {
            margin: 0 auto!important;
            overflow: hidden;
    }

    .homepage .container .copy {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            margin: 0 auto;
    }

    .homepage .container .copy p, .homepage .container .copy .homePage.img {
            grid-column: 5/9;
    }

    .cta {
            grid-column: 5/6; 
            text-decoration: none;
            text-transform: uppercase;
            color: #141414;
    }

    .hero {
            top: 10%!important;
            left: 20%!important;
    }


/* Location page*/

    .main {
            padding-top: 80px;
            margin: auto;
    }

    .main .container {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
    }

    .container div.map {
            display: none;
    }


    .container h1 {
            grid-column: 1/7;
    }

    .container .inside {
            grid-column: 2/6;
    }

    .container .inside .card {
            display: inline-block;
            max-width: 250px;
            margin-left: 10px; 
}
/* Specific page for locations */

    #main .container {
            grid-column: 1/13;
            margin-top: -90px;
    }


    .container h1 {
            margin-bottom: 50px;
    }

    .locationInfo {
            display: grid; 
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
    }

    .locationInfo p.copy.one, .locationInfo p.copy.two {
            max-width: 200px;
            margin-left: auto;
            box-shadow: none;
            grid-column: 1;
    }


    .locationInfo p.one {
            grid-row: 1;
            margin-bottom: -20px;
            margin-top: 100px;
            font-size: 14px;
    }
    .locationInfo p.two {
            grid-row: 2;
            margin: -90px 0px 200px 0px;
            border-top: dotted 1px black;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px; 
    }

    .locationInfo .locationImg {
            width: 550px;
            max-height: 600px;
            grid-column: 2/4;
            grid-row: 2/3;
            min-width: 400px;
            margin-bottom: -120px;
            margin-left: 20px;
            margin-top: -80px;
    }

    .copy.three {
            width: 200px;
            grid-column: 1;
            margin-top: -180px !important;
            margin-bottom: 245px !important;
}


}

/* Screen Size: up to 767px */

@media (max-width: 767px){
    .main .container {
            display: block;
            padding: 50px;
            width: 100%;
}
    .main {
            margin: 0;
            padding-top: 130px;
            display: flex;
}

    .container .inside .card {
            margin-left: 10px; 
}
}

/* Screem Size: 500px and up*/

@media (min-width: 500px){
    .hero {
        top: 5%!important;
        left: 15%!important;
}

}

/* Screen Size: 200px and up */

@media (min-width: 200px){

/* Homepage */

    .homepage {
            display: block;
    }

    .hero {
            position: absolute;
            top: 0;
            left: 0;
    }

    .hero .heroText {
        position: relative;
        padding: 100px;
    }

    .homepage .container {
            width: 100%;
            margin: 0;
            padding: 20px 0;
    }

    .homepage .container h2 {
            text-align: center;
    }
    .homepage .container .copy {
            padding: 40px;
            background-color: #EEE8E3;
            margin: 20px;
    }

    .homepage .container .copy .homePage.img{
            width: 100%;
            max-width: 600px;
            text-align: center;
            border-radius: 10px;
            opacity: 0.8;
            margin-bottom: 20px;
    }

/* Layout */

    .header {
            z-index: 1;
            background-repeat: no-repeat;
            min-height: 600px;
            background-position-y: center;
    }

    .header, .about-images {
            background-size: cover;
            background-position-x: center;
    }

    .header, .about-images, .container .card .background-image {
            min-width: 200px;
    }


    #main .container, .locationInfo .copy, .container .card, .locationImg {
            align-items: center;
    }

    div.text, #main .container, .locationInfo .copy, .container h1 {
            text-align: center;
    }

    .container .card .background-image, .container div.map {
            background-size: 100%;
    }

    .cta {
        text-decoration: none;
        text-transform: uppercase;
        color: #141414;
        padding: 10px 14px;
}

/* About page */
    div.text, .container .card .background-image, .locationImg, .locationInfo .copy, .container .card {
            border-radius: 10px;
    }
    div.text {
            z-index: 1;
            background-color: #141414d5;
            padding: 50px;
            width: 200px;
            margin: 150px auto;
    }

    .about-images, .container .card .background-image {
            background-repeat: no-repeat;
    }

    .about-images {
            z-index: -1;
            padding-top: 10px;
            min-height: 900px;
            background: no-repeat fixed cover;
    }

/* Location page */
    .container .card {
            padding: 20px;
            min-width: 220px;
            max-width: 680px;
            text-align: left;
        }
    
    .container .card .background-image {
            min-height: 150px;
            max-height: 300px;
            background-position-y: top;
        }
    

/* specific page for locations */

   #main {
            padding-top: 108px;
    }

   .container div.map {
            min-height: 200px;
            max-height: 700px;
            background-repeat: no-repeat;
            max-width: auto;
    }

    .locationInfo {
            padding: 20px 40px;
    }

    .locationInfo .copy {
            padding: 20px;
    }
    .container h1 {
            margin-bottom: 50px;
    }

    .locationInfo .copy.one {
            background-color: #ffc130;
    }

    .locationInfo .copy, .container .card {
            background-color: #EEE8E3;
            margin: auto;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            margin: 10px 0px 50px 0px;
    }

    .locationImg {
            max-width: 100%;
            max-height: 330px;
            margin-top: -20px;
    }

    .copy.three {
        background-color: #141414!important;
    }

    /* Back to top button */
    .back-to-top {
        bottom: 120px;
        right: 15px;
      }
      


}