html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #E0DCD9;
}

footer {
    padding: 50px;
}

footer div {
    align-items: center;
    text-align: center;
}

footer div ul {
    list-style: none;
    margin-bottom: 20px;
}

footer div ul li {
    padding: 10px;
}

footer div ul li a{
    font-size: 12px;
    text-decoration: none;
    
}



@media (min-width: 768px){

    .header {
        z-index: 1;
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 1000px;
    } 
    header {
        background-color: #141414;
        height: 111px;
    }
    .main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding-top: 80px;
    }

    .main .container {
        grid-column: 3/11;
    }

    .container .card:hover {
        opacity: 0.7;
        transform: scale(1.1);
        transition: 0.4s ease;
        cursor: pointer;
    }
    .container h1 {
        margin-bottom: 50px;
    }

    .container .card {
        display: inline-block;
        margin: 0px 50px 100px 50px;
    }
}

@media (max-width: 768px){
    .main {
        display: flex;
        padding-top: 130px;
    }
    .main .container {
        display: block;
        width: 100%;
    }

}

/* Screen Size: 200px and up */

@media (min-width: 200px){

    .header {
        z-index: 1;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 200px;
        min-height: 600px;
        background-position-y: center;
        background-position-x: center;
    }
    main {
        margin: 0;
        padding: 0;
    }

    .main .container {
        grid-column: 3/11;
    }

    div.text {
        z-index: 1;
        background-color: #141414d5;
        text-align: center;
        padding: 50px;
        width: 200px;
        margin: 150px auto;
        border-radius: 10px;
    }

    .about-images {
        z-index: 0;
        padding-top: 10px;
        min-height: 900px;
        min-width: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background: no-repeat fixed cover;
    }

    .container h1 {
        text-align: center;
        margin-bottom: 50px;
    }

    .container .card {
        padding: 20px;
        min-width: 220px;
        max-width: 280px;
        text-align: left;
        background-color: #EEE8E3;
        margin: auto;
        align-items: center;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin: 10px 20px 50px 20px;
        border-radius: 10px;
    }

    .container .card .background-image {
        min-height: 150px;
        max-height: 300px;
        background-repeat: no-repeat;
        background-position-y: top;
        background-size: 100%;
        min-width: 200px;
        border-radius: 10px;
    }

    .container .card a {
        background-color: #141414;
        padding: 8px 10px;
        text-decoration: none;
        border-radius: 5px;
    }
}