
body {
    margin: 0;
    background-color: #f8f7f6;
}



@media (min-width: 768px){

    header {
        background-color: #141414;
        height: 110px;
    }
    .header {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 1000px;
        background-position-y: center;
    }
    main {
        padding-top: 200px;
    }
}

@media (max-width: 768px){
    
}